<!doctype html>
<body>
  <div id="main">
    <div class="jumbotron">
      <h1>Joel Straatman</h1>
      <p>Software Developer, Endurance Athlete, Music Enthusiast, Human Being</p>
    </div>
  </div>
</body>